*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.landingpage{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/Images/bg3.jpg);
}
.textbox{
    top: 70%;
    left: 30%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
    align-items: center;
}
#time{
    font-size: 90px;
    letter-spacing: 3px;
}
.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-section input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 300px;
    height: 45px;
    font-size: 25px;
    color: #fff;
}
.input-section h3{
    font-size: 30px;
}
.input-section input::placeholder{
    color: #fff;
}
.todolist{
    margin: 3% 0;
    text-align: left;
}
.todolist h5{
    font-size: 24px;
    font-weight: 300;
}
.todolist input{
    width: 500px;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 19px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 15px 0;
}
.todolist input::placeholder{
    color: #fff;
    font-size: 19px;
}
#text{
    top: 48%;
    left: 47%;
    position: absolute;
    font-size: 18px;
}
#task{
    bottom: 8%;
    left: 0%;
    position: absolute;
    font-size: 16px;
}
.menu{
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 5;
}
.menu button{
    background-color: aqua;
    padding: 10px 12px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 12px #000;
    cursor: pointer;
}
.menu button i{
    font-size: 18px;
}
.menu-cover{
    width: 100%;
    height: 100vh;
    background-color: rgba(86,86,86,0.7);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: none;
    transition: 1s;
}
.menu-links{
    top: 0px;
    left: 0;
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    left: -250px;
    transition: 1s;
}
.menu-links ul{
    margin: 10% 30%;
    width: 100px;
}
.menu-links ul li{
    list-style: none;
    color: #000;
    font-size: 20px;
    margin: 30px 0;
}
.menu-links ul li a{
    text-decoration: none;
}
.menu-links ul li button{ 
    background-color: orange;
    width: 120px;
    height: 40px;
    padding: 0 5px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/Images/pic4.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 100;
}
.logo{
    color: #000;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    display: flex;
}
.logo i{
    font-size: 40px;
}
.logo a{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 10px;
    transition: 0.5s;
}
.nav-links ul li a{
    text-decoration: none;
    color: #000;
    font-size: 19px;
}
.nav-links ul .active{
    background-color: orange;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #000;
}
.nav-links ul li:hover{
    background-color: orange;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #000;
}
.heroBtn{
    background-color: rgb(104, 73, 6);
    padding: 12px 38px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 10px;
}
.textbox-header{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    align-items: center;
}
.textbox-header h1{
    font-size: 70px;
    font-weight: 700;
}
.textbox-header p{
    color: #ddd;
    font-size: 16px;
    margin: 12px 0 35px;
}
.searchbox{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 25px;
    width: 500px;
    height: 45px;
    overflow: hidden;
    margin: 0 10%;
}
.searchbox input{
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    border: none;
    width: 500px;
    height: 45px;
    padding: 0 20px;
    color: #000;
}
.searchbox input::placeholder{
    color: #000;
}
.searchbox a{
    background-color: orange;
    padding: 10px 30px;
    color: #000;
    top: 0px;
    right: 0px;
    position: relative;
    text-decoration: none;
}
.bottom-section{
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
   background-color: #ffc017;
   flex-basis: 33%;
   padding: 20px 13px;
   display: flex;
   justify-content: center;
   color: #fff;
   align-items: center;
}
.col i{
    color: #fff;
    margin: 0 15px;
    font-size: 35px;
}
.black{
    background-color: #000;
}
.about{
  text-align: center;
  margin: auto;
  padding: 60px;
}
.about p{
    font-weight: 600;
    font-size: 13px;
    color: darkblue;
}
.about h3{
    color: darkblue;
    font-size: 27px;
    margin: 20px 0;
}
.about h3::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.about-row{
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 31%;
    box-shadow:5px 5px 12px #000;
    border-radius: 10px;
    padding: 20px 12px;
    transition: 0.5s;
    cursor: pointer;
    margin: 25px 20px;
}
.about-col p{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;
}
.about-col h4{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}
.about-col i{
    font-size: 35px;
}
.about-col:hover{
    background-color: #ffc017;
}
.about-col:hover i{
    color: #fff;
}
.about-col:hover h4{
    color: #fff;
}
.about-col:hover p{
    color: #fff;
}
.services{
    margin: auto;
    text-align: center;
    padding: 60px;
}
.services h2{
    font-size: 44px;
    font-weight: 300;
}
.services h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.services p{
    margin: 15px 15%;
    font-weight: 500;
    font-size: 16px;
}
.services-row{
    display: flex;
    justify-content: space-between;
    margin: 25px 10%;
}
.services-col{
    flex-basis: 31%;
}
.services-col-img{
    flex-basis: 38%;
}
.head{
    display: flex;
    justify-content: center;
}
.head h1{
    font-size: 34px;
    font-weight: 600;
}
.head i{
    color: #000;
    font-size: 44px;
    margin: 0 20px;
}
.columns p{
    text-align: left;
}
.columns{
    margin: 20% 0;
}
.smallImg{
    width: 100%;
    height: 80vh;
    display: none;
}
.images .active{
    display: block;
}
.controls{
    display: flex;
    justify-content: space-between;
    top: 50%;
    position: relative;
}
.controls i{
    color: #fff;
    font-size: 25px;
    background-color: aqua;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}
.testimonials{
    background-color: darkblue;
    width: 100%;
    height: 70vh;
}
.testimonials h2{
    font-size: 44px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.testimonials h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: #fff;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.testimonial{
    top: 20%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.testimonials i{
    color: #fff;
    margin: 0 10%;
    font-size: 30px;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.content-info{
    text-align: left;
    margin: 0 30px;
    color: #fff;
    width: 300px;
}
.content-info h3{
    margin: 15px 0;
}
.contact{
    text-align: center;
    padding: 60px;
    margin: auto;
}
.contact h2{
    font-size: 44px;
    font-weight: 300;
}
.contact h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.contact p{
    margin: 15px 0;
}
.contact-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contact-col{
    flex-basis: 31%;
}
.contact-col i{
    font-size: 50px;
    margin: 15px 0;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px 0;
}
.footer{
    padding: 60px 0 40px;
    background-color: darkblue;
    border-radius: 100px 0 0 0;
}
.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    margin: 10px 30px;
}
.footer-col{
    flex-basis: 25%;
    padding: 10px 15px;
    align-items: center;
    text-align: center;
}
.footer-col h2{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.anime{
    background-color: #fff;
    width: 150px;
    height: 2px;
    border-radius: 10px;
    margin: 10px 25%;
}
.anime p{
    width: 50px;
    background-color: darkblue;
    height: 2px;
    border-radius: 10px;
    animation: slide 2s linear infinite;
}
@keyframes slide{
    100%{
        transform: translateX(160px);
    }
}
.line i{
    margin: 0 10px;
    font-size: 19px;
}
.copyright{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}
.copyright p{
    font-size: 16px;
}
/*-----------projects--------*/
.p-header{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/Images/4.jpg);
    background-position: center;
    background-size: cover;
}
.textprojects{
    top: 30%;
    left: 40%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.textprojects h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
.projects{
    padding: 60px;
    text-align: center;
    margin: auto;
}
.projects  h2{
    font-size: 44px;
    font-weight: 300;
}
.projects h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.projects-row{
    display:  block;
    margin: 20px 0;
}
.projects-col{
    display: flex;
    justify-content: space-between;
}
.video-info img{
    width: 380px;
    height: 350px;
    border-radius: 10px 10px 0 0;
}
.video-info p{
    text-align: center;
    margin: 15px 0;
}
.video-info{
    flex-basis: 33.33%;
    box-shadow: 5px 5px 12px #000;
    border-radius: 10px;
    margin: 0 20px;
}
.text-info{
    padding: 20px 12px;
}
.user-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100%;
    position: relative;
    opacity: 0;
    transition: 1s;
}
.user-controls i{
    color: #fff;
    margin: 0 15px;
    font-size: 30px;
}
.video-info:hover .user-controls{
    opacity: 1;
    bottom: 50%;
    position: relative;
}
#s-header{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(/Images/pexels-brayden-law-1738986.jpg);
    background-position: center;
    background-size: cover;
}
.navigator i{
    font-size: 35px;
    background-color: #ffc017;
    padding: 9px 13px;
    color: #000;
    border-radius: 50%;
}
#arrowBtnR{
    top: 50%;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
#arrowBtnL{
    top: 50%;
    position: absolute;
    left: 3%;
    cursor: pointer;
}
.textprojects p{
    text-align: center;
    width: 300px;
    animation: zoom 5s linear infinite;
}
@keyframes zoom{
    0%{
        transform: translate(-50px);
    }
    100%{
        transform: translateX(300px);
    }
}
.service{
    overflow: hidden;
}
.services{
    padding: 60px;
    text-align: center;
    margin: auto;
}
.services h2{
    font-size: 44px;
    font-weight: 300;
}
.services h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;   
}
.service-row{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.service-col{
    flex-basis: 31%;
    padding: 20px 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
    border-radius: 6px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 0 20px;
}
.service-col:hover{
    box-shadow: 5px 5px 12px rgba(0,0,0,0.7);
    background-color: #ffc017;
}
.service-col i{
    font-size: 40px;
}
.service-col h3{
    text-align: center;
    font-size: 34px;
    font-weight: 300;
}
.c-header{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
    ,url(/Images/pexels-gdtography-911758.jpg);
    background-position: center;
    background-size: cover;
}
.contactpage{
    padding: 60px;
    margin: auto;
    text-align: center;
}
.contactpage h2{
    font-size: 44px;
    font-weight: 300;
}
.contactpage h2::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    display: block;   
}
.location-page{
    width: 100%;
    margin: 30px 0;
    height: 60vh;
}
.location-page iframe{
    width: 100%;
    height: 60vh;
}
.contactpage-row{
    display: flex;
    justify-content: space-between;
}
.contactpage-col{
    flex-basis: 49%;
}
.telephone{
    color: #000;
    text-align: left;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 6px;
    width: 250px;
    padding: 20px 12px;
    margin: 15px 0;
    align-items: center;
    display: flex;
    transition: 0.5s;
}
.telephone i{
    font-size: 17px;
    margin: 0 10px;
}
.telephone:hover{
    box-shadow: 5px 5px 12px #000;
    background-color: #ffc017;
}
.telephone:hover #phone{
    color: green;
}
.telephone:hover #mail{
    color: #f44336;
}
.telephone:hover #ig{
    color: orange;
}
.telephone:hover #location{
    color: aqua;
}
.contactpage-col form{
    display: block;
    width: 100%;
    box-shadow: 0 0 10px 0 #000;
    margin: 15px 0;
    border-radius: 10px;
    padding: 10px 20px;
}
.contactpage-col form input{
    width: 500px;
    height: 50px;
    border: 2px solid #000;
    padding: 0 20px;
    margin: 20px 0;
}
.contactpage-col h3{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
.contactpage-col h3::after{
    content: '';
    width: 250px;
    height: 3px;
    background-color: darkblue;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    display: block;   
}

.contactpage-col textarea{
    width: 520px;
    border: 2px solid #000;
    resize: none;
    padding: 0 10px;
}
.contactpage-col button{
    color: #000;
    background:radial-gradient(#fff,#f44336);
    padding: 12px 39px;
    cursor: pointer;
    text-transform: lowercase;
    outline: none;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin: 10px 0;
}
#login{
    font-size: 25px;
    cursor: pointer;
}
.login-form{
    width: 360px;
    height: 490px;
    background-color: #fff;
    top: 14%;
    right: -360px;
    position: fixed;
    z-index: 20;
    box-shadow: 0 0 5px 0 #000;
    overflow: hidden;
    transition: 0.5s;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.slider div{
    font-size: 20px;
    margin: 0 6px;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links i{
    background: linear-gradient(#f44336,orange);
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 11px;
    margin: 0 5px;
}
.login-form form{
    max-width: 360px;
    position: absolute;
    transition: 0.5s;
}
.login-form input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 0 15px;
    box-shadow:  inset -5px -5px -12px #000;
    margin: 10px 20px;
    outline: none;
}
#RegisterForm{
    left: -360px;
}
.login-form button{
    padding: 12px 39px;
    width: 50%;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: linear-gradient(#f44336,orange);
    cursor: pointer;
    margin: 10px 15%;
}
.login-form p{
    font-size: 16px;
    text-align: center;
}
.login-form a{
    text-decoration: none;
    color: #f44336;
}
#msg{
    display: none;
    margin: 15px -2%;
}
.button{
    top: 20%;
    left: 1%;
    position: absolute;
    background-color: aqua;
    padding: 12px 39px;
    outline: none;
    border: none;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
}
.autocom-box{
    background-color: #fff;
    width: 490px;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
   top: 10px;
   left: 70px;
   position: relative;
   padding: 10px 12px;
   opacity: 0;
}
.autocom-box::-webkit-scrollbar{
    border-radius: 8px;
    width: 5px;
}
.autocom-box::-webkit-scrollbar-track{
    background-color: #fff;
    width: 5px;
    border-radius: 8px;
}
.autocom-box::-webkit-scrollbar-thumb{
    background-color: #888;
    width: 5px;
    border-radius: 8px;
}
.wrapper{
    align-items: center;
    justify-content: center;
}
.autocom-box li{
    color: #000;
    list-style: none;
    margin: 20px 0;
    background-color: #f4f4f4;
    padding: 20px 12px;
    cursor: pointer;
}
.wrapper .activewrapper .autocom-box{
    opacity: 1;
}
.wrapper .activewrapper .autocom-box li{
    display: block;
}